<!-- Overlay -->
@if (isOpen) {
<div
    class="fixed inset-0 bg-black bg-opacity-50 z-40 transition-opacity duration-300"
    (click)="closeWishlist()"></div>
}

<!-- Side Panel -->
<div
    class="fixed top-0 right-0 w-full sm:w-[400px] h-full bg-white dark:bg-[#0d0d0d] z-50 shadow-lg transition-transform duration-300 p-8"
    [style.transform]="isOpen ? 'translateX(0)' : 'translateX(100%)'"
    @slideFadeRight>

    <div class="p-4 flex justify-between items-center border-b dark:text-white">
        <h2 class="text-xl font-bold uppercase">Your Wishlist</h2>
        <button (click)="closeWishlist()"
            class="text-gray-600 hover:text-black text-xl">&times;</button>
    </div>

    <div class="p-4 space-y-4 overflow-y-auto h-[calc(100%-150px)] ">
        @if (wishlistDetails().length > 0) {
        @for (item of wishlistDetails(); track item._id) {
        <div class="flex items-center gap-4 dark:text-white  ">
            <img [routerLink]="['/details', item._id]" (click)="closeWishlist()"
                [src]="item.imageCover"
                alt="product"
                class="w-16 h-20 object-cover rounded cursor-pointer" />

            <div class="flex-1">
                <p class="font-medium text-lg">{{ item.title }}</p>
                <p class="font-medium text-sm">{{ item.price | number }} EGP</p>

            </div>
            <div class="flex flex-col justify-between group">
                <button (click)="removeWishItem(item._id)"
                    class="text-sm mb-1"><i
                        class="fa-solid fa-trash-can hover:bg-gray-200 dark:hover:bg-gray-500"></i></button>

                <div class="mb-1 hidden group-hover:block">
                    @for (size of item.sizes; track size) {
                    <button
                        class="px-2 mr-1 text-xs uppercase rounded bg-gray-200 dark:bg-black text-black dark:text-white hover:bg-yellow-500 dark:hover:text-black"
                        (click)="toggleSize(item.id, size)"
                        [class.bg-yellow-500]="selectedSizes[item.id] === size"
                        [class.text-black]="selectedSizes[item.id] === size">
                        {{ size }}
                    </button>
                    }
                </div>
                <button
                    (click)="addToBasket(item._id)"
                    class="px-2 py-0.5 text-xs  bg-black dark:bg-yellow-500 dark:text-black hover:bg-yellow-500 text-white hover:text-black rounded uppercase">Add
                    To Basket</button>
                @if (showWarning[item.id]) {
                    <small
                        class="text-red-500 text-xs flex justify-center">Please
                        select a size</small>
                    }
            </div>
        </div>
        }
        } @else {
        <p class="text-center text-gray-500">Your Wishlist is empty.</p>
        }

    </div>

</div>
