<div class="flex flex-col md:flex-row min-h-screen mt-5">
    <!-- Header -->
    <header
        class="md:hidden flex justify-between items-center p-4 border-b">
        <div>
            <h2 class="text-lg font-semibold text-black dark:text-white">Hi, {{
                userData.name }}</h2>
            <p class="text-sm text-gray-600 dark:text-gray-300">{{
                userData.email }}</p>
        </div>
    </header>

    <!-- Horizontal Nav for Mobile -->
    <nav
        class="md:hidden flex justify-around border-b py-3 text-sm font-medium">
        <button (click)="setSection('orders')"
            [ngClass]="{
        'font-semibold text-black dark:text-white': activeSection === 'orders',
        'text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-white': activeSection !== 'orders'
      }">
            My Orders
        </button>
        <button (click)="setSection('details')"
            [ngClass]="{
        'font-semibold text-black dark:text-white': activeSection === 'details',
        'text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-white': activeSection !== 'details'
      }">
            Personal Details
        </button>
        <button (click)="setSection('addresses')"
            [ngClass]="{
        'font-semibold text-black dark:text-white': activeSection === 'addresses',
        'text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-white': activeSection !== 'addresses'
      }">
            Saved Addresses
        </button>
    </nav>

    <!-- Sidebar for Desktop -->
    <aside
        class="hidden md:block w-64 h-full border-r dark:border-gray-500 p-6">
        <div class="mb-6">
            <h2 class="text-lg font-semibold dark:text-white">Hi, {{
                userData.name }}</h2>
            <p class="text-sm text-gray-600 dark:text-gray-300">{{
                userData.email }}</p>
        </div>
        <nav class="space-y-4 text-md">
            <p (click)="setSection('orders')" class="cursor-pointer"
                [ngClass]="{ 'font-semibold text-black dark:text-white': activeSection === 'orders', 'text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-white': activeSection !== 'orders' }">
                My Orders
            </p>
            <p (click)="setSection('details')" class="cursor-pointer"
                [ngClass]="{ 'font-semibold text-black dark:text-white': activeSection === 'details', 'text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-white': activeSection !== 'details' }">
                Personal Details
            </p>
            <p (click)="setSection('addresses')" class="cursor-pointer"
                [ngClass]="{ 'font-semibold text-black dark:text-white': activeSection === 'addresses', 'text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-white': activeSection !== 'addresses' }">
                Saved Addresses
            </p>
        </nav>
        <div class="mt-10">
            <a href (click)="_AuthService.logout()"
                class="text-sm font-semibold text-black dark:text-white hover:underline">Log
                out</a>
        </div>
    </aside>

    <!-- Main Content -->
    <main class="flex-1 p-6 md:p-10 mt-4 md:mt-0">

        @if (activeSection === 'orders') {
        <div>
            <div>
                <h1 class="text-2xl font-bold mb-6 dark:text-white">My
                    Orders</h1>

                @for (order of userOrders; track order._id) {
                <div
                    class="border border-gray-200 dark:border-gray-600 rounded-lg p-4 mb-6 shadow-sm">
                    <div class="flex justify-between items-center mb-2">
                        <div>
                            <p
                                class="text-sm text-gray-500 dark:text-gray-300">Order
                                ID: {{
                                order._id }}</p>
                            <p
                                class="text-sm text-gray-500 dark:text-gray-300">Date:
                                {{
                                order.createdAt | date:'medium' }}</p>
                        </div>
                        <div>
                            <span class="text-sm px-2 py-1 rounded-full"
                                [ngClass]="{
                                    'bg-green-100 text-green-700': order.isPaid,
                                    'bg-yellow-100 text-yellow-700': !order.isPaid
                                    }">
                                {{ order.isPaid ? 'Paid' : 'Pending' }}
                            </span>
                        </div>
                    </div>

                    <div class="text-sm text-gray-600 dark:text-gray-300 mb-2">
                        <p>Shipping to: {{ order.shippingAddress.details }}, {{
                            order.shippingAddress.city }}</p>
                        <p>Phone: {{ order.shippingAddress.phone }}</p>
                    </div>

                    <div class="overflow-x-auto">
                        <table class="min-w-full text-sm text-left">
                            <thead
                                class="bg-gray-50 dark:bg-black text-gray-700 dark:text-gray-300">
                                <tr>
                                    <th class="px-4 py-2">Product</th>
                                    <th class="px-4 py-2">Size</th>
                                    <th class="px-4 py-2">Color</th>
                                    <th class="px-4 py-2">Quantity</th>
                                    <th class="px-4 py-2">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of order.cartItems; track item._id) {
                                <tr class="border-t dark:text-white">
                                    <td
                                        class="px-4 py-2 flex items-center gap-2">
                                        <img [src]="item.product?.imageCover"
                                            alt="Product Image"
                                            class="w-10 h-10 object-cover rounded" />
                                        <span>{{ item.product?.title }}</span>
                                    </td>
                                    <td class="px-4 py-2">{{ item.size }}</td>
                                    <td class="px-4 py-2">{{ item.color || '—'
                                        }}</td>
                                    <td class="px-4 py-2">{{ item.quantity
                                        }}</td>
                                    <td class="px-4 py-2">{{ item.price |
                                        currency:'USD' }}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div
                        class="text-right mt-4 text-sm text-gray-700 dark:text-gray-300">
                        <p>Tax: {{ order.taxPrice | currency:'USD' }}</p>
                        <p>Shipping: {{ order.shippingPrice | currency:'USD'
                            }}</p>
                        <p class="font-semibold">Total: {{ order.totalOrderPrice
                            | currency:'USD' }}</p>
                    </div>
                </div>
                } @empty {
                <p class="text-gray-500">You don't have any orders yet.</p>
                }
            </div>
        </div>
        }

        @if (activeSection === 'details') {
        <div>
            <form class="max-w-4xl  mx-auto">
                <!-- Personal Information -->
                <div class="space-y-6 ">
                    <div class>
                        <div class="flex flex-col w-full md:w-1/2">
                            <label
                                class="text-sm text-gray-600 dark:text-gray-300 mb-1">Name</label>
                            <input type="text" placeholder="{{ userData.name }}"
                                class="border  dark:bg-black border-[#8d8f91] px-4 py-2 rounded font-semibold text-black dark:text-white focus:outline-none focus:ring-1 focus:ring-black">
                        </div>
                    </div>

                    <div
                        class="flex flex-col md:flex-row gap-2 w-full md:w-1/2">
                        <div
                            class="flex items-center border  border-[#8d8f91] dark:bg-black rounded px-4 py-2 w-full">
                            <span
                                class="text-black  dark:text-white font-semibold mr-2 pr-4 border-r  border-[#8d8f91]">+20
                            </span>
                            <input type="tel" placeholder="{{ userData.phone }}"
                                class="flex-1 border-none dark:bg-black text-gray-600 dark:text-gray-300">
                        </div>
                    </div>
                </div>

                <!-- Account Information -->
                <div class="space-y-4 dark:text-white">
                    <h2 class="text-lg font-medium mt-5">Account
                        information</h2>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div
                            class="flex items-center justify-between border  border-[#8d8f91] rounded px-4 py-3 dark:bg-black">
                            <div class="flex items-center gap-2 ">
                                <svg class="w-5 h-5 text-black dark:text-white"
                                    fill="none"
                                    stroke="currentColor" stroke-width="2"
                                    viewBox="0 0 24 24"><path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M16 12H8m0 0v8m0-8l-4 4m4-4l4 4M20 4H4v16h16V4z" /></svg>
                                <span
                                    class="font-semibold">{{ userData.email
                                    }}</span>
                            </div>
                            <!-- <a href="#"
                                class="text-sm text-black dark:text-white hover:underline">Change</a> -->
                        </div>

                        <div
                            class="flex items-center justify-between border  border-[#8d8f91] rounded px-4 py-3 dark:bg-black">
                            <div class="flex items-center gap-2">
                                <svg class="w-5 h-5 text-black dark:text-white"
                                    fill="none"
                                    stroke="currentColor" stroke-width="2"
                                    viewBox="0 0 24 24"><path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 15v2m0-6v2m-6 4h12a2 2 0 002-2V9a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" /></svg>
                                <span class="font-semibold">Password</span>
                            </div>
                            <button
                                type="button"
                                (click)="showPasswordForm = !showPasswordForm"
                                class="text-sm text-black dark:text-white hover:underline">
                                {{ showPasswordForm ? 'Cancel' : 'Change' }}
                            </button>
                        </div>
                        @if (showPasswordForm) {
                        <form
                            [formGroup]="passwordForm"
                            (ngSubmit)="updatePass()"
                            class="mt-4 space-y-4">
                            <div>
                                <label
                                    class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">
                                    Change Your Password
                                </label>
                                <input
                                    type="password"
                                    formControlName="password"
                                    class="w-full px-4 py-2 border rounded"
                                    placeholder="Enter new password" />
                            </div>
                            <button
                                type="submit"
                                class="bg-black text-white text-sm px-4 py-2 rounded font-semibold hover:opacity-90"
                                [disabled]="passwordForm.invalid">
                                Save New Password
                            </button>
                        </form>
                        }
                    </div>

                    <div
                        class="w-full md:w-1/2 border  border-[#8d8f91] rounded px-4 py-3 flex items-center gap-2 dark:bg-black"
                        (click)="deleteAccount()">
                        <svg class="w-5 h-5 text-black dark:text-white"
                            fill="none"
                            stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24"><path stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6M9 7V4a1 1 0 011-1h4a1 1 0 011 1v3" /></svg>
                        <button type="button" class="font-semibold">Delete
                            account</button>
                    </div>
                </div>

                <!-- Save Button -->
                <div class="pt-4">
                    <button type="submit"
                        class="bg-black text-white px-6 py-2 rounded font-bold hover:opacity-90 transition">SAVE</button>
                </div>
            </form>
        </div>
        }

        @if (activeSection === 'addresses') {
        <div>
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-5xl mx-auto">
                @for (address of userAddresses; track $index) {
                <div class="border border-[#8d8f91] p-4 rounded shadow dark:text-white">
                    <h3 class="text-lg font-semibold">Address: {{$index +
                        1}}</h3>
                    <h3><strong>Location:</strong> {{ address.alias }}</h3>
                    <p><strong>Details:</strong> {{ address.details }}</p>
                    <p><strong>Phone:</strong> {{ address.phone }}</p>
                    <p><strong>City:</strong> {{ address.city }}</p>
                    <p><strong>Postal Code:</strong> {{ address.postalCode
                        }}</p>
                    <p><strong>ID:</strong> {{ address._id }}</p>
                </div>
                } @empty {
                <p class="text-center col-span-full">No addresses available.</p>
                }
            </div>

            <h3 class="text-center p-5 font-bold dark:text-white">Add New Address</h3>
            <form (ngSubmit)="addAddress()" [formGroup]="addressForm"
                class="max-w-lg mx-auto space-y-4">
                <div>
                    <label
                        class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Location</label>
                    <input type="text" formControlName="alias"
                        class="w-full dark:text-white dark:bg-black px-4 py-2 border border-[#8d8f91] rounded" />
                </div>

                <div>
                    <label
                        class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Details</label>
                    <input type="text" formControlName="details"
                        class="w-full dark:text-white dark:bg-black px-4 py-2 border border-[#8d8f91] rounded" />
                </div>

                <div>
                    <label
                        class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Phone</label>
                    <input type="text" formControlName="phone"
                        class="w-full dark:text-white dark:bg-black px-4 py-2 border border-[#8d8f91] rounded" />
                </div>

                <div>
                    <label
                        class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">City</label>
                    <input type="text" formControlName="city"
                        class="w-full dark:text-white dark:bg-black px-4 py-2 border border-[#8d8f91] rounded" />
                </div>

                <div>
                    <label
                        class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Postal
                        Code (Optional)</label>
                    <input type="text" formControlName="postalCode" 
                        class="w-full dark:text-white dark:bg-black px-4 py-2 border border-[#8d8f91] rounded" />
                </div>

                <button type="submit"
                    class="bg-black text-white px-6 py-2 rounded font-semibold hover:opacity-90"
                    [disabled]="addressForm.invalid">
                    Add Address
                </button>
            </form>
        </div>
        }

    </main>
</div>
