<app-cart #cartDrawer></app-cart>
<app-wishlist #wishDrawer></app-wishlist>
<nav class="bg-white border-gray-200 dark:bg-black"
    (document:click)="closeDropdowns($event)">
    <div
        class=" flex flex-wrap items-center justify-between p-4 md:mx-4">
        <!-- Logo -->
        <a href routerLink="/home"
            class="flex items-center rtl:space-x-reverse">
            <img src="../../../assets/logo_noBg.png"
                alt
                class="w-[25px] block dark:hidden">
            <img src="../../../assets/logo_white.png"
                alt
                class="w-[25px] hidden dark:block">
            <span
                class="self-center text-2xl font-semibold whitespace-nowrap text-black dark:text-white">Céva
                Studio</span>
        </a>
        <!-- Right Side: User menu + Dark menu -->
        <div
            class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button" (click)="wishDrawer.openWishlist()" 
                class="inline-flex items-center text-sm rounded-full md:me-0 md:px-5 py-2.5 ">
                <i
                    class="fa-solid fa-heart text-lg text-black dark:text-white"></i>
            </button>
            <button type="button" (click)="cartDrawer.openCart()" 
                class="inline-flex items-center text-sm rounded-full md:me-0 md:px-5 py-2.5 ">
                <i
                    class="fa-solid fa-cart-shopping text-lg text-black dark:text-white"></i>
            </button>
            <!-- User icon -->
            <button type="button" (click)="toggleUserDropdown()"
                class="inline-flex items-center text-sm rounded-full md:me-0 md:px-5  py-2.5"
                id="user-menu-button" aria-expanded="false"
                data-dropdown-toggle="user-dropdown"
                data-dropdown-placement="bottom">
                <i class="fas fa-user text-lg text-black dark:text-white"></i>
                <div class="hidden 2xl:block ">
                    @if (_AuthService.isLoggedIn()) {
                    <span
                        class="block text-md  text-gray-900 dark:text-white pl-2 ">
                        {{username}}</span>
                    } @else {
                    <span
                        class="block text-sm  text-gray-900 dark:text-white pl-2 uppercase ">log
                        In</span>
                    }
                </div>
            </button>
            <!-- dark mode icon  -->
            <button id="dropdownThemeButton" (click)="toggleThemeDropdown()"
                data-dropdown-toggle="dropdownTheme"
                class="inline-flex items-center focus:outline-none font-medium rounded-lg text-sm md:px-5 py-2.5  "
                type="button">
                <i
                    class="fa-solid fa-moon text-lg text-black dark:text-white"></i>
            </button>
            <!-- dark light mode dropdown  -->
            <div id="dropdownTheme" [class.hidden]="!isThemeDropdownOpen"
                class="absolute hidden top-[60px] right=[10px] z-50 w-25 bg-white dark:bg-black  border border-gray-300 dark:border-[#1A1A1D] rounded-lg shadow">
                <ul class="py-2 text-sm text-white">
                    <li>
                        <button onclick="setTheme('light')"
                            class="flex items-center w-full px-4 py-2 hover:text-gray-700 text-black dark:text-white">
                            <i
                                class="fas fa-sun text-lg text-black dark:text-white mr-2"></i>
                            Light
                        </button>
                    </li>
                    <li>
                        <button onclick="setTheme('dark')"
                            class="flex items-center w-full px-4 py-2 hover:text-gray-700 text-black dark:text-white">
                            <i
                                class="fa-solid fa-moon text-lg text-black dark:text-white mr-2"></i>
                            Dark
                        </button>
                    </li>
                </ul>
            </div>

            <!-- User Dropdown -->
            <div id="user-dropdown" [class.hidden]="!isUserDropdownOpen"
                class="absolute hidden top-[70px] z-50 text-base list-none bg-white rounded-lg shadow dark:bg-black border border-gray-300 dark:border-[#1A1A1D] w-48">
                <div class="px-4 py-3">
                    @if (_AuthService.isLoggedIn()) {
                    <span
                        class="block text-md font-bold text-gray-900 dark:text-white ">Hello,
                        {{username}}</span>
                    } @else {
                    <span
                        class="block text-sm font-bold text-gray-900 dark:text-white ">Login
                        To Your Account</span>
                    }
                </div>
                <ul class="pb-2" aria-labelledby="user-menu-button">
                    @if (_AuthService.isLoggedIn()) {
                    <li>
                        <a href routerLink="/user"
                            class="block px-4 py-2 text-sm border-b border-[#8d8f91] text-gray-700 hover:bg-gray-100 dark:hover:text-black dark:text-gray-200">Settings</a>
                    </li>
                    <li>
                        <a href routerLink="/orders"
                            class="block px-4 py-2 text-sm border-b border-[#8d8f91] text-gray-700 hover:bg-gray-100 dark:hover:text-black dark:text-gray-200">Orders</a>
                    </li>
                    <li>
                        <a href (click)="_AuthService.logout()"
                            routerLink="/login"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:text-black dark:text-gray-200 cursor-pointer">Sign
                            out</a>
                    </li>
                    } @else {
                    <li>
                        <a href routerLink="/login"
                            class="block px-4 py-2 text-sm underline text-gray-700 hover:bg-gray-100 dark:hover:text-black dark:text-gray-200">Log
                            in</a>
                    </li>
                    }
                </ul>
            </div>

            <!-- mobile list icon Button -->
            <button type="button" (click)="toggleDropdown()"
                class="inline-flex items-center p-2  w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2  dark:text-gray-400 dark:hover:bg-yellow-500 dark:hover:text-black dark:focus:ring-0"
                id="user-menu-button" aria-expanded="false"
                data-dropdown-toggle="main-menu"
                data-dropdown-placement="bottom">
                <span class="sr-only">Open main menu</span>
                <i
                    class="fa-solid fa-bars text-lg text-black dark:text-white"></i>
            </button>

            <div id="main-menu" [class.hidden]="!isDropdownOpen"
                class="absolute hidden top-10 mt-2 z-50 text-base list-none bg-white rounded-lg shadow dark:bg-black border border-gray-300 dark:border-[#1A1A1D] w-40">
                <ul class="p-2 text-center"
                    aria-labelledby="user-menu-button mx-10 ">
                    <li><a href routerLink="/home"
                            class="block py-2 px-3 border-b border-[#8d8f91] text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">HOME</a></li>
                    <li><a href routerLink="/men"
                            class="block py-2 px-3 border-b border-[#8d8f91] text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">MEN</a></li>
                    <li><a href routerLink="/women"
                            class="block py-2 px-3 border-b border-[#8d8f91] text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">WOMEN</a></li>
                    <li><a href routerLink="/categories"
                            class="block py-2 px-3 border-b border-[#8d8f91] text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">CATEGORIES</a></li>
                    <li><a href routerLink="/about"
                            class="block py-2 px-3  text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">ABOUT
                            US</a></li>
                </ul>
            </div>
        </div>

        <!-- Nav Links -->
        <div class="hidden w-full lg:flex lg:w-auto lg:order-1" id="main-menu">
            <ul
                class="flex flex-col p-4 md:p-0 mt-4 font-medium border  bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-black md:dark:bg-transparent">
                <li><a href routerLink="/home"
                        class="block py-2 px-3 text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">HOME</a></li>
                <li><a href routerLink="/men"
                        class="block py-2 px-3 text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">MEN</a></li>
                <li><a href routerLink="/women"
                        class="block py-2 px-3 text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">WOMEN</a></li>
                <li><a href routerLink="/categories"
                        class="block py-2 px-3 text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">CATEGORIES</a></li>
                <li><a href routerLink="/about"
                        class="block py-2 px-3 text-gray-900 dark:text-white hover:text-black dark:hover:text-gray-300">ABOUT
                        US</a></li>
            </ul>
        </div>
    </div>

</nav>
